/* RESET LAYOUT BACK TO NORMAL */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

.screen {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.screen.active {
  display: block;
}

/* ALL PAGES DISPLAY FULL IMAGE */
.full,
.game-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* fill screen normally */
  object-position: center; /* center it normally */
}

/************* PAGE 1 – START GAME ****************/
.start-button {
  position: absolute;
  top: 35%;
  left: 53%;
  transform: translateX(-50%);
  width: 30%;
  cursor: pointer;
}

/************* PAGE 2 – SELECT VEHICLE ****************/
.car-option {
  position: absolute;
  width: 23%;
  bottom: 3%;
  cursor: pointer;
  transition: transform 0.2s;
}

#car-porsche {
  left: 6%;
}

#car-gwagon {
  left: 34%;
}

#car-red {
  left: 62%;
}

/************* PAGE 3 – GAME PAGE ****************/

#gameArea {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.player-car {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 18%;
}

.life-bar {
  position: absolute;
  width: 30%;
  top: 3%;
  left: 3%;
}

/************* PAGE 4 – YOU WIN ****************/
.play-again-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  cursor: pointer;
}
